DATABASE_URL="postgresql://atasoif:atasoif@localhost:5432/atasoif_v2?schema=public"
BETTER_AUTH_SECRET="change-me-min-32-chars-long-secret!!"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APPLE_CLIENT_ID=""
APPLE_TEAM_ID=""
APPLE_KEY_ID=""
APPLE_PRIVATE_KEY=""
CORS_ORIGIN="http://localhost:4200"
